h1 {
  text-align: center;
}

#calculadora {
  background-color: rgb(99, 8, 99);
  padding: 1%;
  border: 2px solid black;
  border-radius: 10px;
  width: 250px;
  height: auto;
  margin-top: 4%;
  justify-self: center;
}
#resposta {
  text-align: center;
  align-content: center;
  border: 1px solid black;
  margin-bottom: 5%;
  border-radius: 15px;
  padding: 2.5%;
  width: 239px;
  height: 40px;
  font-weight: 100;
  font-size: 35px;
  background-color: gray;
}
#simbolos {
  border: 1px solid black;
  border-radius: 10px;
  background-color: rgba(0, 0, 255, 0.493);
  width: 250px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.icone {
  border: 1px solid black;
  border-radius: 10px;
  font-weight: 1000;
  font-size: 25px;
  text-align: center;
  align-content: center;
  width: 40px;
  height: 40px;
  margin: 2%;
  padding: 1%;
  background-color: grey;
}

.icone:nth-child(15) {
  background-color: rgb(255, 0, 0);
}

.icone:nth-child(16) {
  background-color: rgb(0, 255, 0);
}
